@model List<Bloggie.Web.Models.Domain.Tag>

@{
    ViewData["Title"] = "View All Tags";
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>View All Tags</h1>
    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success container mt-2 rounded-2">
        <strong>Success! </strong>@TempData["SuccessMessage"]
    </div>
}

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Display Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tag in Model)
                {
                    <tr>
                        <td>@tag.Id</td>
                        <td>@tag.Name</td>
                        <td>@tag.DisplayName</td>
                        <td>
                            <a class="btn btn-success" asp-area="" asp-controller="AdminTags"
                            asp-action="Edit" asp-route-id="@tag.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No tags found!</p>
    }
</div>