@model List<Bloggie.Web.Models.Domain.BlogPost>

@{
    ViewData["Title"] = "View Blog Posts";
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>View Blog Posts</h1>
    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success container mt-2 rounded-2">
        <strong>Success! </strong>@TempData["SuccessMessage"]
    </div>
}

<div class="container py-4">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Heading</td>
                    <td>Tags</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var blogPost in Model)
                {
                    <tr>
                        <td>@blogPost.Id</td>
                        <td>@blogPost.Heading</td>
                        <td>
                            <div class="d-flex me-4">
                                @foreach (var tag in blogPost.Tags)
                                {
                                    <span class="badge bg-secondary me-1">@tag.Name</span>
                                }
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-success" asp-area="" asp-controller="AdminBlogPosts"
                       asp-action="Edit" asp-route-id="@blogPost.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Blog Posts Found!</p>
    }

</div>
